
/*General styling*/
.head{
  font-family: 'Quicksand', sans-serif;
}

.bod{
  font-family: 'Open Sans', sans-serif;
}

.pad{
  padding-top: 5em;
}

a {
    color: #777777 !important;
    text-decoration: none;
}

.bold{
  font-weight: bold;
}

.orange{
  color: #e96309;
}

.grey{
  color: #434345;
}

.light-grey{
  color: #706F73;
}

.light-blue{
  color: #09DCE9;
}

.dark-blue{
  color: #00939C;
}

.hide{
  visibility: hidden;
}

.right{
  float: right;
}
/*Navbar --------------------------------------------------------------------*/
.perfil{
  float: right;
}

.navbar .nav > li > a{
  padding: 10px 15px 20px;
}


#login-buttons .login-button, .accounts-dialog .login-button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 4px 8px;
    font-size: 80%;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background: #e96309 !important;
    border: 1px solid #e96309 !important;
    border-radius: 4px;
    text-decoration: none !important;
}

.signIn{
  float: right !important;
}



/*HomePage --------------------------------------------------------------------*/
.bigCooky{
  width: 30em;
}

.final{
  text-align: center;
}

.desc{
  padding: 1em 1em;
}

/*Recipes--------------------------------------------------------------------------*/
.deleteRecipe{
  text-align: center !important;
}

.buscar{
  text-align: center !important;
  cursor: pointer;
}
