
/*General styling*/
.head{
  font-family: 'Quicksand', sans-serif;
}

.bod{
  font-family: 'Open Sans', sans-serif;
}

.bold{
  font-weight: bold;
}

.orange{
  color: #e96309;
}

.light-blue{
  color: #09DCE9;
}

.dark-blue{
  color: #00939C;
}

/*Navbar --------------------------------------------------------------------*/
.perfil{
  margin-left: 50em;
}

.brand{
  margin-left: 1em !important;
}

.navbar .nav > li > a{
  padding: 10px 15px 20px;
}
