
/*General styling*/
.head{
  font-family: 'Quicksand', sans-serif;
}

.bod{
  font-family: 'Open Sans', sans-serif;
}

.bold{
  font-weight: bold;
}

.orange{
  color: #e96309;
}

.grey{
  color: #434345;
}

.light-grey{
  color: #706F73;
}

.light-blue{
  color: #09DCE9;
}

.dark-blue{
  color: #00939C;
}

.hide{
  visibility: hidden;
}
/*Navbar --------------------------------------------------------------------*/
.perfil{
  float: right;
}

.brand{
  margin-left: 1em !important;
}

.navbar .nav > li > a{
  padding: 10px 15px 20px;
}
.navbar .nav {
  width: 60em;
}

#login-buttons a, .accounts-dialog a{
  text-decoration: none !important;
  color: #706F73;
}


/*HomePage --------------------------------------------------------------------*/
.bigCooky{
  width: 30em;
}

.final{
  text-align: center;
}
